%h1 Words

%table.table
  %thead
    %tr
      %th Content
      %th Language
      %th Email
      %th Actions
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.content
        %td
          = word.language.name
        %td
          = word.user&.email
        %td
          = link_to('Show', word_path(word), class: 'btn btn-primary')
          = link_to('Edit', edit_word_path(word), class: 'btn btn-primary')
          = link_to('Delete', word_path(word), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" })
